.main {
    padding: 10px;
    flex-direction: row;
    display: flex;
}
.NavBox {
    width: 250px;
    margin-right: 20px;
}
.listNav{
    text-align: center;
}
.listNav li {
    line-height: 40px;
}
.listNav li a {
    text-decoration: none;
}
.listNav li.active{
    background: #00a6f7;
}
.listNav li.active a{
    color: #fff;
}
.side{
    width: 100%;
}
.slist{
    font-size: 14px;
}
.addBtn {
    font-size: 14px;
    font-weight: normal;
    background: skyblue;
    display: inline-block;
    padding: 10px;
    margin-left:  10px;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}
.close:after{
    width: 80%;
    height: 1px;
    position: relative;
    background-color: white;
}
.slist li{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px cornflowerblue;
}

.slist li h3{
    font-weight: normal;
}

.slist li div span{
    text-decoration: underline;
    padding: 0 10px;
}
.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

}
.popup .pbox {
    width: 50%;
    height: 320px;
    background: #ffffff;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    text-align: left;
    color: #333;
}
.popup .pbox h4{
    font-size: 14px;
}
.popup .pbox input {
    margin: 10px 0 20px 0;
}
.popup .pbox input, .popup .pbox textarea{
    display: block;
    width: 100%;
    height: 32px;
    border: 1px solid skyblue;
    text-indent: 10px;
}

.popup .pbox textarea {
    resize: none;
    height: 100px;
    margin: 10px 0;
}

.popup .pbox .close {
    position: absolute;
    width: 30px;
    height: 30px;
    background: red;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #ffffff;
    right: -15px;
    top: -15px;
    transition: 0.5s;
    cursor: pointer;
}
.popup .pbox .close:hover{
    transform: rotate(180deg);
}
.popup .pbox .pBtn {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.popup .pbox .pBtn span{
    padding: 10px 20px;
    background: skyblue;
    margin: 0 10px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}
.plant{
    line-height: 50px;
    position: relative;
}
.plant p{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    background: blue;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: #fff;
}
/* .planlist{
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
}
.planlist td, th{
    border: 1px solid blue;
    line-height: 32px;
    font-size: 14px;

} */
.plan-delect{
    color: red;
    cursor: pointer;
}
.plan-delect:hover{
    color: blue;
    text-decoration: underline;
}
.plan-title{
    width: 80%;
}
.App-title{
    float: right;
}

.home_link{
    text-align: right;
    padding: 20px 0 30px;
}
.home_link>div{
    display: inline-block;
    margin: 10px;
    border: 1px solid #ababab;
    color: white;
    border-radius: 200px;
    text-align: center;
    cursor: pointer;
}
.home_link>div>a{
    display: inline-block;
    width: 110px;
    padding:10px;
    text-decoration-line: none;
    font-size: 18px
}
.home_link .active{
    background-color: blue;
}
.App-footer{
    position: fixed;
    bottom: 0;
    background-color: rgba(80, 195, 233, 0.8);
    color: white;
    text-align: right
}
.App-footer span{
    padding:5px 15px;
    font-size: 18px;
    display: inline-block;
    cursor: pointer
}
.home-img-box{
    padding:20px;
    border: 1px solid #dddddd;
}
.closeButton{
    float: right;
    font-size: 30px!important;
    padding: 0!important;
    line-height: 15px;
    cursor: pointer
}
.model-download{
    position: absolute;
    top: 0;
    right: 25px;
    display: inline!important;
    width: 20px!important;
    height: 20px!important;
}
.modal_download_box{
    padding: 30px;
    text-align: center;
    border: 1px solid #ababab;
    border-radius: 5px;
    font-size: 18px;
}
.modal_download_button{
    display: inline-block;
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 18px;
    border: 1px solid #ababab;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    background-color: #a2ddf1;
    transition: 0.5s all;
}
.modal_download_button:hover{
    background-color: #50C1E9;
    
}

/* admin css */
.admin_top_button{
    padding: 10px;
    font-size: 16px;
    /* border-radius: 7px; */
    border: 1px solid #ababab;
    transition: 0.5s all;
    cursor: pointer;
    background-color: white;
}
.admin_top_button:hover{

}

/* about */
#aboutModal{
    position: absolute;
    right: 0;
    width: 300px;
    margin-top: 30px;
    border: 1px solid #ababab;
    padding: 10px;
    background-color: white;
    color: #333;
    z-index:1000;;
    border-radius: 5px;
}
#aboutModal::after{
    content:' ';
    width:0px;
    height:0px;
    position:absolute;
    left:70%;
    top:-12px;
    -webkit-transform:translate(0px,-50%);
    border:12px solid rgba(0,0,0,0.7);
    border-color:transparent transparent rgba(0,0,0,0.7) transparent
}
.gallery_view_button{
    font-size: 20px;
    padding: 20px 20px;
    border: 1px solid #ababab;
    border-radius: 111px;
    margin: 23px 0;
    cursor: pointer;
    transition: 0.3s all;
    background: #ffffffb0
}

.gallery_view_button:hover, .media_select:hover, .gallery_modal_button:hover{
    background-color: #50C1E9 
}
.gallery_view_button:active, .media_select:active, .gallery_modal_button:active{
    background-color: #50C1E9
}
.gallery_modal_button{
    padding: 48.2px;
    border-bottom: 1px solid #ababab;
    font-size: 20px;
    transition: 0.3s all;
    cursor: pointer;
    background: #ffffffb0
}
.gallery_modal_button:last-child{
    border-bottom: unset;
}
.media_select{
    display: inline-block;
    border-left: 1px solid #ababab;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s all;
    background: #ffffffb0
}
.media_select:first-child{
    border-left: unset
}
#media_box{
    border: 1px solid #ababab;
    height: 438px;
    margin-top: 14px;
}
.submit_button{
    width: 200px;
    margin: 0 auto;
    padding: 15px 15px;
    font-size: 18px;
    border: 1px solid #ababab;
    border-radius: 5px;
    cursor: pointer;
    text-align: center
}
.modal_des{
    display: inline-block;
}

.table_admin{
    border: 1px solid #dcdcdc;
    background-color: white
}
.ant-upload-select{
    margin-top: 5px;
}
.ant-upload-list{
    display: inline-block
}
.img_box{
    width: 100%;
    height: 350px
}
.gallery_modal_button.active{
    background: #50C1E9
}
@media (min-width: 1200px){
    .container {
    width: 1680px!important;
}
}
